body {
	background: url('resources/background.jpg') no-repeat black;
	background-attachment: fixed;
	background-position: bottom left;
	color: white;
}



.content {
	margin-left: 200px;
	padding: 8px 8px 16px 16px;
}



.nav {
	float: left;
	width: 160px;
	padding: 4px;
}

}

.nomargin {
	margin: 0;
}

