body {
        background-image: url("https://creativity103.com/collections/GlitterGold/purple_glitter.jpg");
        background-repeat: repeat-y;
      }



.nav {
	float: left;
	width: 160px;
	padding: 4px;
}

}

.nomargin {
	margin: 0;
}

}

.content {
	margin-left: 180px;
	padding: 8px 16px 8px 16px;
}
